
#Created by Constraints Editor (xc2c32a-vq44-4) - 2015/03/27
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 12.5 ns HIGH 50%;

NET clk LOC="1" | IOSTANDARD=LVTTL | SLEW=FAST;   # GPIO14
NET cs  LOC="44" | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP; # GPIO15
NET gpio2 LOC="43" | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP;
NET gpio0 LOC="42" | IOSTANDARD=LVTTL | SLEW=FAST ;
NET gpio5 LOC="41" | IOSTANDARD=LVTTL | SLEW=FAST;
NET gpio4 LOC="40" | IOSTANDARD=LVTTL | SLEW=FAST;
NET esprx LOC="39" | IOSTANDARD=LVTTL | SLEW=FAST;
NET esptx LOC="38" | IOSTANDARD=LVTTL | SLEW=FAST;
NET espreset LOC="37" | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP;
#NET espchpd LOC="36" | IOSTANDARD=LVTTL | SLEW=FAST;
NET gpio16 LOC="34" | IOSTANDARD=LVTTL | SLEW=FAST | PULLUP;
NET gpio12 LOC="33" | IOSTANDARD=LVTTL | SLEW=FAST; # DI?
NET gpio13 LOC="32" | IOSTANDARD=LVTTL | SLEW=FAST; # DO?
NET espen LOC="31" | IOSTANDARD=LVTTL | SLEW=FAST;
NET rgb(3) LOC="30" | IOSTANDARD=LVTTL | SLEW=FAST;
NET rgb(4) LOC="29" | IOSTANDARD=LVTTL | SLEW=FAST;
NET rgb(5) LOC="28" | IOSTANDARD=LVTTL | SLEW=FAST;
NET rgb(0) LOC="27" | IOSTANDARD=LVTTL | SLEW=FAST;
NET rgb(1) LOC="23" | IOSTANDARD=LVTTL | SLEW=FAST;
NET rgb(2) LOC="22" | IOSTANDARD=LVTTL | SLEW=FAST;
NET col(0) LOC="21" | IOSTANDARD=LVTTL | SLEW=FAST;
NET col(1) LOC="20" | IOSTANDARD=LVTTL | SLEW=FAST;
NET col(2) LOC="19" | IOSTANDARD=LVTTL | SLEW=FAST;
NET col(3) LOC="12" | IOSTANDARD=LVTTL | SLEW=FAST;
NET iusr LOC="18" | IOSTANDARD=LVTTL | SLEW=FAST;
NET clko LOC="16" | IOSTANDARD=LVTTL | SLEW=FAST;
NET oe LOC="14" | IOSTANDARD=LVTTL | SLEW=FAST;
NET stb LOC="13" | IOSTANDARD=LVTTL | SLEW=FAST;
NET panelen LOC="8" | IOSTANDARD=LVTTL | SLEW=FAST;
NET usr(3) LOC="6" | IOSTANDARD=LVTTL | SLEW=FAST;
NET usr(4) LOC="5" | IOSTANDARD=LVTTL | SLEW=FAST;
NET usr(5) LOC="3" | IOSTANDARD=LVTTL | SLEW=FAST;
NET usr(6) LOC="2" | IOSTANDARD=LVTTL | SLEW=FAST;
